.card {
margin: 20px;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 25px;

.outer {
padding: 16px;
width: auto; 
height: auto; 
background-color: pink;
border-radius: 100px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.inner {
background-color: white;
padding: 16px;
text-align: left;
}

.header {
font-size: 24px;
line-height: 1.5px; 
font-weight: 600; 
color: #111827; 
}

.text {
padding-bottom: 0.75px; 
font-size: 14px;
line-height: 1.25px; 
color: #6B7280; 
}

.bottom {
display: flex;
justify-content: space-around; 
align-items: center; 
}

.bottom-holder {
display: flex; 
gap: 40px; 
color: #4B5563; 
transition-duration: 200ms; 

:hover {
 --transform-scale-x: 1.1;
--transform-scale-y: 1.1; 
cursor: pointer; 
 }
}
